<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GIRLS'DAY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <body>
    <script src="/static/index.js">    </script>
    <div class="container">
      <div class="row">
        <a href="#" id="a" class="btn btn-danger mx-auto mt-5 btn-lg" onclick="addTIEP()"><h3>Bấm <div class="" id="TIEP"></div>vào đây đi cậu ơii!!</h3></a>
      </div>

    </div>

  </body>
</html>
